In [1]:
#1.Input a string of odd length (minimum 9 characters), print a string made of the 3
#middle characters from input string.
mystr=input("enter a string:")
print(mystr)
x=len(mystr)
if x<9 or x%2==0:
    print("please enter string of odd length with min 9 charcters!")
else:
    i=(x//2)-1
    j=i+3
    print(mystr[i:j])

enter a string:abcdefghi
abcdefghi
def

In [18]:
#2 Calculate the sum and average of first n natural numbersa. using for loop b. using while loop
#using for loop
n=int(input("enter a number:"))
print(n)
sum=0
for num in range(0,n+1,1):
    sum = n * (n+1) / 2
    average  = ( n * (n+1) / 2) / n
print("SUM of first ", n, "numbers is: ", sum )
print("Average of first ", n, "natural number is: ", average)

enter a number:5
5
SUM of first  5 numbers is:  15.0
Average of first  5 natural number is:  3.0

In [17]:
#using while loop
number = int(input("enter any number: "))

total = 0
value = 1

while (value <= number):
    total = total + value
    value = value + 1

average = total / number

print("The Sum of Natural Numbers from 1 to {0} =  {1}".format(number, total))
print("Average of Natural Numbers from 1 to {0} =  {1}".format(number, average))

enter any number: 5
The Sum of Natural Numbers from 1 to 5 =  15
Average of Natural Numbers from 1 to 5 =  3.0

In [7]:
#3  Accept list of 5 float numbers as input from user using loop and store values in a list
list1=[]
print("enter 5 float number:")
for i in range(5):
    val=float(input())
    list1.append(val)
    print(list1)

enter 5 float number:
2.0
[2.0]
2.1
[2.0, 2.1]
2.2
[2.0, 2.1, 2.2]
2.6
[2.0, 2.1, 2.2, 2.6]
2.6
[2.0, 2.1, 2.2, 2.6, 2.6]

In [9]:
#4 Print  pattern
#a pattern
rows = 5
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

#b pattern
rows = 5
for row in range(rows, 0,-1):
    for column in range(row,0,-1):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [10]:
#5 input a number, count and print the total number of digits in that number using while loop
num=int(input("enter a number:"))
count=0
while num!=0:
  num=num//10
  count=count+1
print("Total Number of Digits = ",count)

enter a number:123
Total Number of Digits =  3

In [13]:
#6 Given two lists. Create a third list by picking an odd-index element from the first list and even index elements from second.
listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]
listThree=[]
for i in range(1,len(listTwo)+1):
  if i%2==0:
    listThree.append(listTwo[i-1])
  else:
    listThree.append(listOne[i-1])
print(listThree)

[3, 8, 9, 16, 15, 24, 21]

In [14]:
#7. program to get the smallest number from a list.
l= [2,3,6,9,1,0]
r=l[0]
for i in range(0,len(l)):
  if r>l[i]:
    r=l[i]
print("The smallest number is:",r)

The smallest number is: 0

In [16]:
#8.Reverse the following list using for loop and range [ do not use reverse or reversed like functions] lst1 = [10, 20, 30, 4, 50]
lst1 = [10, 20, 30, 4, 50]
re=[]
for i in range(len(lst1)-1,-1,-1):
  re.append(lst1[i])
print("Reversed list is:",re)

Reversed list is: [50, 4, 30, 20, 10]