In [ ]:
#1: Modify the first item (22) of a list inside a following tuple to 222 ?
#tuple1 = (11, [22, 33], 44, 55)

tuple1 = (11, [22, 33], 44, 55)
list1=list(tuple1) 
list1[1][0]=222
print("The modified tuple is:",tuple1)

The modified tuple is: (11, [222, 33], 44, 55)

In [ ]:
#Q 2: Count the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
count=0
for i in tuple1:
  if i==50:
    count=count+1
print("The number of occurrences of item 50 in the given tuple is:",count)

The number of occurrences of item 50 in the given tuple is: 2

In [ ]:
#Q 3: Write a Python program to convert a list to a tuple

def convertion(lst):
  tple=tuple(lst) 
  return tple

lst=[]
n=int(input("Enter the number of elements: "))
for i in range(0,n):
  element=input()
  lst.append(element)
res=convertion(lst)
print("Result of  Tuple after conversion",res)

Enter the number of elements: 5
23
43
12
23
45
Result of  Tuple after conversion ('23', '43', '12', '23', '45')

In [6]:
# Q 4: Returns a new set with all items from both sets by removing duplicates

def set_operation(set1,set2):
  set3=set1.union(set2) 
  return set3


set1={1,'a','b',2,4,6}
set2={1,2,3,4,5,6,'a','b'}
result=set_operation(set1,set2)
print(result)

{1, 2, 3, 4, 5, 6, 'b', 'a'}

In [8]:
#Q5: Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [10]:
#Q6: Given a Python dictionary, Change Bradâ€™s salary to 8500 
sampleDict = {
'emp1': {'name': 'Jhon', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary']=8500 #  
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [12]:
#Q7: Rename key city to location in the following dictionary

sampleDict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}
sampleDict["location"]=sampleDict.pop("city") 
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}